$primary--background-color: #30333a;
$secondary--background-color: #34343b;

$primary--font-highlight-color: #ffc86a;

/* a tag color */
$primary--a-active-color: #f8f9f8;
$secondary--a-active-color: #96989b;

/* font color */
$primary--font--color: #e5e4e7;
$primary--font-header-color: #f8f9f8;
$primary--font-light-color: #fed48c;

/* skill active color */
$active-skill-color: #f0bf6b;
$inactive-skill-color: #3d3e42;
$font-skill-color: #fefeff;
